* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 24px;
  margin: 0;
  width: 440px;
  height: 888px;
  background: #fff;
} 

.item {
  padding: 16px;
  width: 392px;
   background: #f6f6fe;
}

.title-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}

.list-element {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  list-style: none;
  padding: 0;
  
}

.list-element li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.gallery {
  max-width: 1140px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 100px auto;
  padding :0;
}

.list-image {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery img {
  width: 100%;
  height: 100%;
}

#name-input {
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  margin: 24px 24px 16px 24px;
}

h1 {
font-weight: 600;
 font-size: 24px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 0;
margin-bottom: 24px;
margin-left: 24px;
}

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background-color: #fff;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.widget {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  background: #fff;
}

.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  padding: 0;
}

.widget button {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: 40px;
background: #4e75ff;
border: none;
}

.change-color {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
