* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  padding: 24px;
  margin: 0;
  width: 440px;
  height: 888px;
  background: #fff;
} 

.item {
  padding: 16px;
  width: 392px;
   background: #f6f6fe;
}

.title-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}

.list-element {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  list-style: none;
  padding: 0;
  
}

.list-element li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.gallery {
  max-width: 1140px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 100px auto;
  padding :0;
}

.list-image {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery img {
  width: 100%;
  height: 100%;
}


